---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% comment %}
<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
{% endcomment %}

<ul>
  <li>Shang, L.*, Yeh L.-C., Zhao, Y., &amp; Peelen, M. V.* (2026). Unpacking similarity effects in visual memory search: categorical, semantic, and visual contributions. <em>Journal of Memory and Language, 146</em>, 104712. <a href="https://doi.org/10.1016/j.jml.2025.104712">https://doi.org/10.1016/j.jml.2025.104712</a></li>
  <li>Shang, L.*, Yeh, L.-C., Zhao, Y., Wiegand, I., &amp; Peelen, M. V.* (2024). Category-based attention facilitates memory search. <em>eNeuro, 11</em>(2), ENEURO.0012-24.2024.<a href="https://doi.org/10.1523/ENEURO.0012-24.2024">https://doi.org/10.1523/ENEURO.0012-24.2024</a></li>
  <li>Shang, L.*, Zhao, Y., &amp; Peelen, M.V. (2022). The efficiency of memory search depends on categorical target-distractor similarity. <em>Perception, 51</em>(Suppl. 1), 102-103.</li>
  <li>Shang, L., Little, D. R., Webb, M. E., Eidels, A., &amp; Yang, C.-T.* (2021). The workload capacity of semantic search in convergent thinking. <em>Journal of Experimental Psychology: General, 150</em>(11), 2230-2245. <a href="https://doi.org/10.1037/xge0001045">https://doi.org/10.1037/xge0001045</a></li>
</ul>

