---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<ul>
  <li>
    <b>Shang, L.*</b>, Yeh, L.-C., & Yang, C.-T.* (2026, August 31-September 4). <em>Asymmetric integration of visual and categorical dimensions in human object recognition</em>. [Paper presentation]. Joint ESCoP-CoPM Meeting 2026, Hangzhou, China.
  </li>
  <li>
    <b>Shang, L.*</b>, Yeh, L.-C., Zhao Y., & Peelen, M. V.* (2026, April 10-12). <em>Unpacking similarity effects in visual memory search: categorical, semantic, and visual contributions</em>. [Poster presentation]. Branch of Neurobiology of Cognition, Chinese Neuroscience Society Annual Conference 2026, Shenzhen, China.
  </li>
  <li>
    <b>Shang, L.*</b>, Yeh, L.-C., Zhao Y., & Peelen, M. V.* (2023, December 14-16). <em>Memory search is facilitated by attentional modulation of visual object processing</em>. [Poster presentation]. The 19th NVP Dutch Society for Brain and Cognition Winter Conference 2023, Egmond aan Zee, The Netherlands.
  </li>
  <li>
    <b>Shang, L.*</b>, Zhao, Y., & Peelen M. V. (2022, August 28-September 1). <em>The efficiency of memory search depends on categorical target-distractor similarity</em>. [Poster presentation]. The 44th European Conference on Visual Perception (ECVP) 2022 Nijmegen, Nijmegen, The Netherlands.
  </li>
  <li>
    <b>Shang, L.</b>, Little, D., Webb, M., Eidels, A., & Yang, C.-T.* (2020, July 20-August 1). <em>The workload capacity of semantic search in convergent thinking</em>. [Paper presentation]. The 53rd annual meeting of the society for mathematical psychology/18th international conference on cognitive modeling. <a href="https://mathpsych.org/presentation/140" target="_blank" rel="noopener noreferrer">https://mathpsych.org/presentation/140</a>.
  </li>
</ul>


<!--
{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
-->
