---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<section>
  <ul>
    <h2>2026-Current</h2>
    <li><strong>[3710112] Mental Health for University Students · 大学生心理健康教育</strong>
    Undergraduate course, Lecturer, Liaoning University</li>
    
    <li><strong>[5732071] Psychological Testing and Behavioral Analysis Training-1 · 心理测试与行为分析实训-1</strong>
    Undergraduate course, Lecturer, Liaoning University, 2026 Fall</li>
  
    <li><strong>[5731192] Psychology of Corruption · 腐败心理学</strong>
    Undergraduate course, Lecturer, Liaoning University, 2026 Fall</li>
    
    <li><strong>[B450022] Psychology and Life · 心理学与生活（代课）</strong>
    Undergraduate course, Guest Lecturer, Liaoning University, 2026 Spring</li>
  </ul>
</section>

<section>
  <ul>
    <h2>2015 Spring</h2>
    <h3>Introduction to General Psychology · 基礎心理學導論</h3>
    Undergraduate course, Teaching Assistant, National Cheng Kung University
  </ul>
</section>


<!--
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->
