---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<h3>Mental Health for University Students · 大学生心理健康教育</h3>
<p>Undergraduate course, Instructor, Liaoning University, 2026 Fall</p>

<h3>The Psychology of Corruption · 腐败心理学</h3>
<p>Undergraduate course, Instructor, Liaoning University, 2026 Fall</p>

<h3>Psychological Testing and Behavioral Analysis Training-1 · 心理测试与行为分析实训-1</h3>
<p>Undergraduate course, Instructor, Liaoning University, 2026 Fall</p>

<h3>B450022 Psychology and Life · 心理学与生活（代课）</h3>
<p>Undergraduate course, Instructor, Liaoning University, 2026 Spring</p>

<h3>Introduction to General Psychology · 基礎心理學導論</h3>
<p>Undergraduate course, Teaching Assistant, National Cheng Kung University, 2015 Spring</p>

<!--
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->
