---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<section>
  <h2>2026-Current</h2>
  <ul>
    <li><strong>[3710112] Mental Health for University Students · 大学生心理健康教育</strong><br>
    Undergraduate course, Course Instructor, Liaoning University
    </li>
    
    <li><strong>[5732071] Psychological Testing and Behavioral Analysis Training-1 · 心理测试与行为分析实训-1</strong><br>
    Undergraduate course, Course Instructor, Liaoning University, 2026 Fall<br>
    Introduction to experimental methods, statistical analysis, and data analysis techniques.
    </li>
  
    <li><strong>[5731192] Psychology of Corruption · 腐败心理学</strong><br>
    Undergraduate course, Guest Lecturer, Liaoning University, 2026 Fall<br>
    Responsible for introducing students to fundamental topics in psychology, including sensation and perception, consciousness, and decision-making.
    </li>
    
    <li><strong>[B450022] Psychology and Life · 心理学与生活（代课）</strong><br>
    Undergraduate course, Guest Lecturer, Liaoning University, 2026 Spring<br>
    Responsible for delivering introductory lectures on fundamental topics in psychology, including sensation and perception, and consciousness.
    </li>
  </ul>
</section>

<section>
  <h2>2015 Spring</h2>
  <ul>
    <li><strong>Introduction to General Psychology · 基礎心理學導論</strong><br>
    Undergraduate course, Teaching Assistant, National Cheng Kung University</li>
  </ul>
</section>


<!--
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->
